
.vscode/settings.json
license.txt
__pycache__/classes.cpython-37.pyc
__pycache__/constants.cpython-37.pyc
Thumbs.db
.vscode/launch.json
importimages.py
__pycache__/settings.cpython-37.pyc
*.pyc
*.pyc
__pycache__/settings.cpython-37.pyc
